
:root {
  --th1-co1:#35363a;
  --th1-co2:#ffffff;
  --th1-bo: rgba(0, 22, 22, 0.4);
  --fo-ty: #2F74C0;
}


* {
  margin: 0.125rem;
  padding: 0.125rem;
  transition: .2s;
  align-items: center;
}

.typed {
  color: var(--fo-ty);
  font-size: larger;
}

body {
  background: var(--bkg-color);
}

h1,
p {
  color: var(--text-color);
}
i {
  font-size: medium;
}

html,
body {
  min-width: 290px;
  color: #eee;
  background-color: var(--th1-co1);
  font-family: 'Open Sans', Arial, sans-serif;
  line-height: 1.5;
  align-items: center;
}


/* 
.container {
  display: flex;
  flex-wrap: wrap;
  flex-flow: wrap;
  width: 100vw;
} */
.hider {
  position: absolute;

  left: 3vw;
}

header {
  color: #eee;
  margin: 10px;
  text-align: center;
  font-size: 1.8em;
  font-weight: thin;
}
/* NavBAR */
#navbar {
  position: fixed;
  min-width: 8rem;
  top: 0px;
  left: 0px;
  width: 250px;
  height: 80%;
  border-right: solid; 
  border-color: var(--fo-ty); 
}

#main-doc header {
  text-align: left;
  margin: 0px;
}

#navbar ul {
  height: 88%;
  padding: 0.125;
  overflow-y: auto;
  overflow-x: hidden;
}

#navbar li {
  color: #eee;
  /* border-top: 1px solid; */
  list-style: none;
  position: relative;
  width: 100%;
}

#navbar a {
  font-family: 'Courier New', Courier, monospace;
  display: block;
  padding: 10px 30px;
  color: #eee;
  text-decoration: none;
  cursor: pointer;
  transition: 1s;
}
#navbar a:hover {

  background-color: #fff;
  color: var(--fo-ty);
  text-decoration: none;
  font-size: 2.2rem;

}
button {
  background-color: var(--th1-co1);
  color: var(--fo-ty);
  border: none;
}

#main-doc {
  position: absolute;
  margin-left: 30vw;
  padding: 20px;
  margin-bottom: 110px;
  width: 66vw;
  max-width: 50rem;
}

section article {
  color: #eee;
  margin: 15px;
  font-size: 0.96em;
}

section li {
  margin: 15px 0px 0px 20px;
}

#button-hide {
  position: fixed;
  top: 4rem;
  left: 0;
  float: right;
  border-radius: 50%;
}

ul#pagesR li {
  display: inline;
}

.pagesB {
  color: white;
  cursor: pointer;
  padding: 1rem;
  border-radius: 5%;
  margin: 0;
  text-decoration: solid;
  font-size: medium;
}
.pagesB:hover {
  background-color: var(--fo-ty);
}

 /* code {
  display: block;
  text-align: left;
  white-space: pre-line;
  position: relative;
  word-break: normal;
  word-wrap: normal;
  line-height: 2;
  background-color: #f7f7f7;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
}  */
section p {
  color: grey;
  font-size: small;
}

 @media only screen and (max-width: 815px) {
  #navbar ul {
    border: 1px solid;
    height: 16vh;
  }

  #navbar {
    background-color: var(--th1-co1);
    position: sticky;
    top: 0;
    border-bottom: 2px;
    border-color: var(--th1-bo); 
    margin: 0;
    width: 100%;
    max-height: 275px;
    opacity: .8;
    z-index: 1;
    /* border-bottom: 2px solid; */
  }

  #main-doc {
    position: relative;
    margin-left: 0px;
    width: 90vw;
  }
  .hider {
    position: absolute;
    display: block;
    top: 0;
  }
  #button-hide {
    display: none;
  }
}

.container li {
  display: inline;
  margin: 0;
}


section {
  min-width: 20vw;
  overflow: hidden;
  scroll-behavior: smooth;
}

section header{
  font-family: 'Courier New', Courier, monospace;
}

/* HIGHLIGHT TEME*/
/*  
/* Original theme - https://github.com/chriskempson/tomorrow-theme 
/* http://jmblog.github.com/color-themes-for-google-code-highlightjs 
/* .tomorrow-comment, pre .comment, pre .title {
  color: #969896;
/*!
 * Agate by Taufik Nurrohman <https://github.com/taufik-nurrohman>
 * ---------------------------------------------------------------
 *
 * #ade5fc
 * #a2fca2
 * #c6b4f0
 * #d36363
 * #fcc28c
 * #fc9b9b
 * #ffa
 * #fff
 * #333
 * #62c8f3
 * #888
 *
 Date: 17.V.2011
 Author: pumbur <pumbur@pumbur.net>
 */ 


.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #222;
  border-radius: 2%;
}

.hljs,
.hljs-subst {
  color: #aaa;
}

.hljs-section {
  color: #fff;
}

.hljs-comment,
.hljs-quote,
.hljs-meta {
  color: #444;
}

.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-regexp {
  color: #ffcc33;
}

.hljs-number,
.hljs-addition {
  color: #00cc66;
}

.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-template-variable,
.hljs-attribute,
.hljs-link {
  color: #32aaee;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class {
  color: #6644aa;
}

.hljs-title,
.hljs-variable,
.hljs-deletion,
.hljs-template-tag {
  color: #bb1166;
}

.hljs-section,
.hljs-doctag,
.hljs-strong {
  font-weight: bold;
}

.hljs-emphasis {
  font-style: italic;
}