:root {
    --gr1-color: #000000; 	
	--gr2-color: #7b7d7b; 	
	--gr3-color: #969696; 	
	--gr4-color: #bfbfbf; 	
	--gr5-color: #ffffff; 	
}


#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 5vh;
    display: inline;
    background-color: var(--gr2-color);
}

#header-img {
    height: 5vh;
}

#nav-bar {
    background-color: var(--gr4-color);
    display: inline-flexbox;
}

